<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./test/src/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Main">
            <file>./test/src/Tests/ModuleTest.php</file>
            <directory>./test/src/Tests/Service</directory>
            <file>./tests/src/Tests/Hydrator/DoctrineHydratorTest.php</file>
        </testsuite>
        <testsuite name="ODM">
            <directory>./test/src/Tests/Hydrator/ODM</directory>
        </testsuite>
    </testsuites>
</phpunit>
