<phpunit bootstrap="./PhproTest/DoctrineHydrationModule/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Main">
            <file>./PhproTest/DoctrineHydrationModule/Tests/ModuleTest.php</file>
            <directory>./PhproTest/DoctrineHydrationModule/Tests/Service</directory>
            <file>./PhproTest/DoctrineHydrationModule/Tests/Hydrator/DoctrineHydratorTest.php</file>
        </testsuite>
        <testsuite name="ODM">
            <directory>./PhproTest/DoctrineHydrationModule/Tests/Hydrator/ODM</directory>
        </testsuite>
    </testsuites>
</phpunit>